@import "../../../app/styles/ng-variables.scss";

.current-user-info {
  position: absolute;
  top: 0px;
  right: 2px;

  .menu-trigger-content {
    height: 100%;
    width: 100%;
  }

  .user-dropdown-button {
    border: 0;
    color: $st-blue-600;
    background-color: $st-blue-100;
    width: 62px;
    height: 62px;
    border-radius: 4px;
    padding: 10px;
    transition: background .2s ease;

    &:hover, &:focus {
      cursor: pointer;
      background-color: $st-blue-200;
    }

    &:focus {
      outline: none;
    }
  }
}

::ng-deep .mat-mdc-menu-content {
  background-color: $st-blue-400;
}

::ng-deep .mat-mdc-menu-item.mdc-list-item:hover {
  background-color: $st-blue-600;
}