<div class="page-background">
  <div align="center">
    <h5 style="margin-top: 15px;">
      {{ 'LoginComponent.title' | translate }}
    </h5>
    <br>
  </div>

  <div class="login-background">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="input" appearance="outline">
        <mat-label>{{ 'LoginComponent.email-field' | translate }}</mat-label>
        <input matInput class="loginInput" type="text" formControlName="email" />
      </mat-form-field>

      <mat-form-field class="input" appearance="outline">
        <mat-label>{{ 'LoginComponent.pwd-field' | translate }}</mat-label>
        <input matInput class="loginInput" type="password" formControlName="password" />
      </mat-form-field>

      <mat-checkbox
        formControlName="keepSessionOpen"
        style="display: inline-flex;"
        [color]="color"
      >
        <mat-label style=" font-size: medium;">{{ 'LoginComponent.keep-session-open' | translate }}</mat-label>
      </mat-checkbox>

      <div fxLayout="row" fxLayoutAlign="flex-end" class="actions">
        <button
          stPrimaryBtn
          [disabled]="loginForm.invalid"
          type="submit"
        >
        {{ 'LoginComponent.submit' | translate }}
        </button>
      </div>

      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>