@import '../../../styles/ng-variables.scss';

.page-background {
  background: linear-gradient(to bottom, $st-blue-50, $st-blue-100, $st-blue-200, $st-blue-400, $st-blue-600);
  height: 100vh;
  width: 100%;
}

h2 {
  color:#e43012;
  text-align:center;
  margin-top:40px;
  text-decoration: underline;
}

h2 {
  color:$st-blue-600;

}

img {
  width: 100%;
  height: auto;
  padding-right: 3%;
}

.login-background {
  width:35%;
  padding:10px;
  border-radius:10px;
  border:5px solid $st-blue-600;
  margin:0px auto;
}

@media (max-width: 1300px) {
  .login-background{
    width:35%;
    padding:10px;
    border-radius:10px;
    border:10px solid $st-blue-600;
    margin:0px auto;
  }
}

@media (max-width: 992px) {
  .login-background{
    width:45%;
    padding:10px;
    border-radius:10px;
    border:10px solid $st-blue-600;
    margin:0px auto;
  }
}

@media (max-width: 750px) {
  .login-background{
    width:55%;
    padding:10px;
    border-radius:10px;
    border:10px solid $st-blue-600;
    margin:0px auto;
  }
}

@media (max-width: 575px) {
  .login-background{
    width:75%;
    padding:10px;
    border-radius:10px;
    border:10px solid $st-blue-600;
    margin:0px auto;
  }
}

.form-group {
  width: 100%;
  text-align: center;
}

mat-form-field {
  color: white;
  width: 100%;
}

::ng-deep label {
  margin-bottom: 0;
}

::ng-deep .mdc-checkbox {
  padding-right: 3px!important;

  .mdc-checkbox__background {
    border-color: $st-blue-600 !important;
  }
  
  .mdc-checkbox__ripple {
    position: initial;
  }
}

::ng-deep .mdc-notched-outline__leading {
  border-color: $st-blue-600 !important;
}
::ng-deep .mdc-notched-outline__notch {
  border-color: $st-blue-600 !important;
}
::ng-deep .mdc-notched-outline__trailing {
  border-color: $st-blue-600 !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: red !important;
}

.loginInput {
  color: 600!important;
}

mat-label {
  color: 600;
}

button {
  width: 100%;
}