@import '../../styles/ng-variables';

.sidenav-container {
  background-color: $st-blue-600;
  width: 200px;
}

.nav-link {
  color: $st-blue-400 !important;
  transition: background .2s ease;
  &:hover, &:focus {
    background: $st-blue-400;
  }
}

.nav-link, .nav-list-section__title {
  align-items: center;
  color: $white;
  display: inline-flex;
}

.sidebar__nav-link--active {
  background: $st-blue-400;
  color: $white !important;
  width: 100%;
}

.nav-link-text {
  color: white;
  margin-left: 12px;
  margin-top: 5px;
}

.logo-container {
  display: block;
  width: 100%;
  border-bottom: 2px solid $st-blue-200;
  margin-bottom: 15px;
}

.logo {
  width: 90%;
  height: 115px;
  margin-left: 8px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.nav-list-section {
  margin-top: 35px;

  &__title {
    padding: 0px 16px;
  }

  &-footer {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
    flex-direction: column;
    padding: 0 16px;
    position: absolute;
    bottom: 0;

    .copyright {
      margin-top: 10px;
      color:white;
      font-size: 10px;

      &-icon {
        font-size: 10px;
        width: 12px;
      }
    }
  }
}

::ng-deep .mdc-list-item__primary-text {
  color: white !important;
  display: flex;
  flex-direction: row;
  align-items: end;
}
